  .login-row {
    display: flex;
  }
  
  .login-column {
    flex: 33.33%;
    padding: 5px;
  }
  .login-row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .login-column {
      width: 100%;
    }
  }
  